body{
    margin:0;
    background:#000;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;
}

#heart{
    position:relative;
    width:700px;
    height:700px;
}

.love{
    position:relative;
    width:700px;
    height:700px;

    will-change:transform;

    color:#ff9ac8;

    font-family:Arial,sans-serif;
    font-size:12px;

    white-space:nowrap;

    text-shadow:0 0 6px #ff9ac8;

    transform:translate(-50%, -50%);
}
